<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>XML generator</title>
</head>
<body>
    <br/>
    <div class="container">
        <div class="jumbotron">
            Generate TED returns 002
        </div>

        <form action="/generate" >
            <div class="form-row">
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR001">
                        <label class="form-check-label" name='sheets[DTR001]' for="DTR001">DTR001</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR002">
                        <label class="form-check-label" name='sheets[DTR002]' for="DTR002">DTR002</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR003">
                        <label class="form-check-label" name='sheets[DTR003]' for="DTR003">DTR003</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR004">
                        <label class="form-check-label" name='sheets[DTR004]' for="DTR004">DTR004</label>
                    </div>                 
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR202">
                        <label class="form-check-label" name='sheets[DTR202]' for="DTR202">DTR202</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR203">
                        <label class="form-check-label" name='sheets[DTR0203]' for="DTR203">DTR203</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR204">
                        <label class="form-check-label" name='sheets[DTR204]' for="DTR204">DTR204</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR205">
                        <label class="form-check-label" name='sheets[DTR205]' for="DTR205">DTR205</label>
                    </div><div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR206">
                        <label class="form-check-label" name='sheets[DTR206]' for="DTR206">DTR206</label>
                    </div><div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR207">
                        <label class="form-check-label" name='sheets[DTR207]' for="DTR207">DTR207</label>
                    </div>
                </div> 
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR208">
                        <label class="form-check-label" name='sheets[DTR208]' for="DTR208">DTR208</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR209">
                        <label class="form-check-label" name='sheets[DTR209]' for="DTR209">DTR209</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR210">
                        <label class="form-check-label" name='sheets[DTR210]' for="DTR210">DTR210</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR211">
                        <label class="form-check-label" name='sheets[DTR211]' for="DTR211">DTR211</label>
                    </div>                 
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR212">
                        <label class="form-check-label" name='sheets[DTR212]' for="DTR212">DTR212</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR213">
                        <label class="form-check-label" name='sheets[DTR213]' for="DTR213">DTR213</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR214">
                        <label class="form-check-label" name='sheets[DTR214]' for="DTR214">DTR214</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR215">
                        <label class="form-check-label" name='sheets[DTR215]' for="DTR215">DTR215</label>
                    </div><div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR216">
                        <label class="form-check-label" name='sheets[DTR216]' for="DTR216">DTR216</label>
                    </div><div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR217">
                        <label class="form-check-label" name='sheets[DTR217]' for="DTR217">DTR217</label>
                    </div>
                </div> 
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR301">
                        <label class="form-check-label" name='sheets[DTR301]' for="DTR301">DTR301</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR302">
                        <label class="form-check-label" name='sheets[DTR302]' for="DTR302">DTR302</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR303">
                        <label class="form-check-label" name='sheets[DTR303]' for="DTR303">DTR303</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR305">
                        <label class="form-check-label" name='sheets[DTR305]' for="DTR305">DTR305</label>
                    </div>                 
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR306">
                        <label class="form-check-label" name='sheets[DTR306]' for="DTR306">DTR306</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR307">
                        <label class="form-check-label" name='sheets[DTR307]'  for="DTR307">DTR307</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR308">
                        <label class="form-check-label" name='sheets[DTR308]'  for="DTR308">DTR308</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR316">
                        <label class="form-check-label" name='sheets[DTR316]' for="DTR316">DTR316</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="DTR319">
                        <label class="form-check-label" name='sheets[DTR319]'  for="DTR319">DTR319</label>
                    </div>
                </div>        
            </div>
            <button class="btn btn-success" >Generate XML</button>
        </form>
</div>
    

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src='js/mainapp.js'></script>
<nav  class="bg-success fixed-bottom navbar navbar-light" style="background-color: #e3f2fd; height:4em;">
    <div class="text-light container d-flex justify-content-center">
        <strong> &copy; <a href='https://twitter.com/BoyePanthera   '>Olanrewaju A. Olaboye, 2019.</a></strong>
    </div>
</nav>
</body>
</html>